.myMap {
  height: 500px;
  width: 500px;
}
.container {
  min-height: 100vh;
  /* central axis still be column*/
  display: flex;
  /* to align vertically*/
  align-items: center;
  /* to align horizontally */
  justify-content: center;
}
